<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>benSlaughter</title>

    <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="{{ site.path }}/javascripts/process-rel-links.js" type="text/javascript"></script>`
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Ben Slaughter</h1>
        <img src="{{ site.path }}/images/calvin.jpg"  alt="Calvin" title="benSlaughter">
        <p>Brandwatch employed, test analyzing, automation writing, Polaroid photographing, circuit building, PIC programming, comic book keeping, airsoft shooting, Hobo.</p>
        <p>Location: A Cardboard Box, Brighton</p>
        <p class="view">
            <h3>Contact</h3>
            <a href="mailto:b.p.slaughter@gmail.com">Email</a><br>
            <a href="https://github.com/benSlaughter">GitHub</a><br>
            <a href="https://twitter.com/Ben_Slaughter">Twitter</a><br>
            <a href="https://www.facebook.com/vagrant.slaughter">Facebook</a><br>
            <a href="http://www.linkedin.com/pub/ben-slaughter/b/430/8b3">LinkedIn</a><br>
            <h3>Projects</h3>
            <a href="http://benslaughter.github.io/allotment">Allotment</a><br>
            <a href="http://benslaughter.github.io/intervention">Intervention</a><br>
            <a href="http://benslaughter.github.io/juncture">Juncture</a><br>
            <a href="http://benslaughter.github.io/gazeteer">Gazeteer</a><br>
        </p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>
          <small>This project is maintained by <a href="https://github.com/benSlaughter">benSlaughter</a></small><br>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
        </p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
